@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 200 29% 11%;
      --foreground: 0 0% 100%;

      --card: 200 29% 11%;
      --card-foreground: 0 0% 100%;

      --popover: 200 29% 11%;
      --popover-foreground: 0 0% 100%;

      --primary: 174 84% 56%;
      --primary-foreground: 0 0% 100%;

      --secondary: 200 29% 11%;
      --secondary-foreground: 0 0% 100%;

      --muted: 200 29% 11%;
      --muted-foreground: 174 84% 56%;

      --accent: 174 84% 56%;
      --accent-foreground: 0 0% 100%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 100%;

      --border: 200 29% 11%;
      --input: 200 29% 11%;
      --ring: 174 84% 56%;

      --radius: 0.5rem;
   }
}

@layer base {
   body {
      @apply bg-[#0c4a6e];
   }
}
